# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
 - List popular languages that Data Scientists use
 - List commonly used libraries used by Data Scientists
 - Few examples of evaluating arithmetic expressions in Python
 - Data Science Tools

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| ----|
| Jupyter Notebooks |
| JupyterLab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

$x = z + y$

In [3]:
# This a simple arithmetic expression to mutiply then add integers
first_number = 3
second_number = 4
third_number = 5
result = (first_number * second_number) + third_number
print(result)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Abdul Samad